<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackaton"
        tools:targetApi="31">
        <activity
            android:name=".InformacionCuenta"
            android:exported="false" />
        <activity
            android:name=".VerPlanes"
            android:exported="false" />
        <activity
            android:name=".AgregarPlan"
            android:exported="false" />
        <activity
            android:name=".Estadisticas"
            android:exported="false" />
        <activity
            android:name=".PersonalizarViaje"
            android:exported="false" />
        <activity
            android:name=".PlanesTuristicos"
            android:exported="false" />
        <activity
            android:name=".Filtro_Planes"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Carga"
            android:exported="false" />
        <activity
            android:name=".Registrarse_Agencia"
            android:exported="false" />
        <activity
            android:name=".Registrarse_Turista"
            android:exported="false" />
        <activity
            android:name=".Detalles_Agencia"
            android:exported="false" />
        <activity
            android:name=".Reservar_Carro"
            android:exported="false" />
        <activity
            android:name=".Datos_Viajero"
            android:exported="false" />
        <activity
            android:name=".Resumen_Reserva"
            android:exported="false" />
        <activity
            android:name=".Pagar"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Carga2"
            android:exported="false" />
        <activity
            android:name=".Reserva_Restaurantes"
            android:exported="false" />
        <activity
            android:name=".Reserva_Hoteles"
            android:exported="false" />
        <activity
            android:name=".Ordenar_Por"
            android:exported="false" />
        <activity
            android:name=".Filtro_Vuelos"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>